**/.classpath
**/.checkstyle
.project
**/.settings
**/target
**/bin
**/tmp
**/dist
**/doc
**/build
.DS_Store
*/fcrepo4-data
.idea
*.log*
*.iml
dump.rdb
authorized_keys
target
**/activemq-data
dependency-reduced-pom.xml