# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:6
        ports:
          - 46380:6379

    steps:
    - name: Checkout boxc repository
      uses: actions/checkout@v2
      with:
        repository: UNC-Libraries/Carolina-Digital-Repository.git
        path: boxc
        ref: main
    - name: Checkout submodules
      run: git submodule update --init --recursive
      working-directory: boxc
    - name: Checkout cdm2bxc repository
      uses: actions/checkout@v2
      with:
        path: cdm2bxc
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build boxc with Maven
      run: mvn -B -U clean install -DskipTests -am -pl deposit-utils,operations
      working-directory: boxc
    - name: Build cdm2bxc
      run: mvn -B -U clean install
      working-directory: cdm2bxc
